@import 'variables.css';

:root {
  --image-size: 96px;
}

.pane {
  width: var(--pane-width);
  left: 0;
  top: 0;
  position: absolute;
  overflow-y: hidden !important;
  overflow-x: hidden;
  padding: 0px 16px 10px 16px;
  background-color: #f0f0f0;
  height: 100%;
}

.pane:hover {
   overflow-y: auto !important;
}

.centerImage {
  position: absolute;
  left: 50%;
  top: -4px;
  margin-left: calc(-1 * var(--image-size) / 2);
  width: var(--image-size);
  height: var(--image-size);
  border-radius: calc(var(--image-size) / 2);
  border-width: 4px;
  border-color: var(--page-background-color);
  background-color: var(--grey);
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  overflow: hidden;
  padding: 5px;
  &.yellow {
    background-color: var(--yellow);
  }
  &.red {
    background-color: var(--red);
  }
  &.green {
    background-color: var(--green);
  }
  & > img {
    border-radius: 50%;
    width: calc(var(--image-size) -18px);
    height: calc(var(--image-size) -18px);
  }
}

.heading {
  text-align: center;
  color: white;
  font-size: var(--font-size-h3);
  line-height: calc(var(--font-size-h3) * var(--golden-ratio));
  margin-bottom: 4px;
}

.subHeading {
  text-align: center;
  color: white;
  font-size: var(--font-size-h5);
  line-height: calc(var(--font-size-h5) * var(--golden-ratio));
}

.contactDetails {
  font-size: 0.9rem;
  line-height: 1.6rem;
  & > ul {
    padding: 16px 8px;
    margin: 0;
    list-style-type: none;
  }
  & a {
    color: inherit;
    &:hover {
      color: #777;
    }
  }
}

.controls {
  padding: 4px 0px;
  margin-top: 30px;
  width: 308px;
  display: flex;
  align-items: flex-end;
  & .date {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0px 4px;
    font-size: 0.9em;
  }
  & .buttons {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.favorited {
  -webkit-text-fill-color: #F5B342!important;
  color: #F5B342!important;
}

.circleButtonTaskDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-right: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.circleButtonTaskDetail:hover, .circleButtonTaskDetail:active {
   background-color: #fff;
}

.circleButtonTaskDetail:last-child {
  margin-right: 0px;
}

.closeDetailButton {
  background-color: #f0f0f0 !important;
  position: relative;
}

.closeButtonContainer {
  padding: 10px 0px 22px 0px;
  display: flex;
  justify-content: flex-end;
}

.detailTaskGroupButton {
  display: flex;
}

.iconInCircleButton {
  height: 10px;
}

.font-half-11 {
  font-size: var(--normal-text);
}

.creator {
  margin-top: 15px;
}

.preloadStarImage {
  div {
    height: 15px !important;
    width: 15px !important;
    position: relative !important;
  }
}

.iconMsTeams {
  width: 27px;
  height: 25px;
  /* margin-right: 5px; */
  cursor: pointer;
}
.notConnet {
  background: url(../../../public/msTeams_not_connect.png);
  background-size: 100% 100%;
}
.online {
  background: url(../../../public/msTeams_online.png);
  background-size: 100% 100%;
}
.doNotDisturb {
  background: url(../../../public/msTeams_do_not_disturb.png);
  background-size: 100% 100%;
}
.offline {
  background: url(../../../public/msTeam_offline.png);
  background-size: 100% 100%;
}
.createQuote {
  position:'absolute' !important;
  z-Index: 4 !important;
  width:100px !important
}