.conntainer {
  background-color: #f0f0f0;
  height: 100%;
  padding: 8px 16px;
}
.dflex {
  display: flex !important;
  justify-content: space-between !important;
  /* align-items: center !important; */
}
.dlfexCenter {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.closeIcon {
  transform: rotate(45deg);
}
.divCloseIcon {
  border-radius: 50%;
  padding: 3px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.divCloseIcon:hover {
  background-color: #fff;
}
.backgroundIsDragging {
  background-color: #a2c23c;
}
.btn {
  border: 1px solid #1a3848 !important;
  font-size: var(--normal-text) !important;
  font-weight: 500 !important;
  border-radius: 5px !important;
  padding: 0.5em 1em !important;
  min-width: 75px;
  height: var(--button) !important;
  max-height: 28px !important;
  min-height: 28px !important;
  color: #fff !important;
  background-color: #1a3848 !important;
}
.blockItem {
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.25s;
  display: flex;
  font-weight: 500;
  align-items: center;
}
.blockItem:hover {
  box-shadow: 0 2px 3px rgb(0 0 0 / 15%);
}
.blockIsDragging {
  transform: rotate(-5deg);
  /* box-shadow: 0 2px 3px rgb(0 0 0 / 15%);
  background-color: #79bcfb; */
  background-color: #fff;
  box-shadow: 0 2px 3px rgb(0 0 0 / 15%);
  border: 1px solid #f0f0f0;
}
.iconBlockItem {
  width: 20px;
  margin-right: 15px;
}
.terms {
  background: url('../../../public/ESignIcon/Term.svg');
  background-size: 100% 100%;
}
.mainLayoutContainer {
  background-color: #fff;
  /* border-radius: 15px; */
  /* padding: 10px; */
  box-shadow: 0 6px 12px -2px rgb(32 48 60 / 25%), 0 3px 7px -3px rgb(0 0 0 / 15%);
  min-height: 150px;
}
.widthPreviewMode {
  max-width: 830px;
  width: 830px;
}
.containerElement {
  margin: auto;
  padding: 50px 80px;
  min-height: 200px;
  position: relative;
  background-color: #fff;
}
.backgroundIsDraggingOver {
  background-color: #a2c23c;
}
.elementIsDragging {
  background-color: #fff;
  box-shadow: 0 2px 3px rgb(0 0 0 / 15%);
  border: 1px solid #f0f0f0;
  /* border-radius: 15px; */
}
.inputTextElement {
  border: none !important;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
}
.inputTextElement:focus {
  outline: none !important;
}
.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
  min-height: 100px;
  line-height: 20px;
  outline: none !important;
  word-break: break-all;
}
.textarea:focus {
  outline: none !important;
}

.textarea[contenteditable]:empty::before {
  content: 'Type something';
  color: gray;
}
.GroupControllerButton {
  position: absolute;
  right: 0;
  top: 10px;
}
.disableDragging {
  opacity: 0.7;
  cursor: no-drop;
  border: 1px solid lightgrey;
}
/* This is dynamic layout */
.divlayout1 {
  display: flex;
}
.divlayout2 {
  display: flex;
  flex-direction: row-reverse;
}
.divlayout3 {
  display: flex;
  flex-direction: column;
}
.divlayout4 {
  display: flex;
  flex-direction: column-reverse;
}
.imglayout1,
.imglayout2 {
  /* border-top-left-radius: 15px; */
  width: 35%;
  min-width: 35%;
}
.imglayout3,
.imglayout4 {
  /* border-top-left-radius: 15px; */
  width: 100%;
  height: 200px;
}

.btnRadio {
  border: 1px solid #f0f0f0 !important;
  font-size: var(--normal-text) !important;
  font-weight: 500 !important;
  padding: 0.5em 1em !important;
  min-width: 75px;
  height: var(--button) !important;
  max-height: 28px !important;
  min-height: 28px !important;
  color: black !important;
}
.btnDeActive {
  background-color: #1a3848 !important;
  color: #fff !important;
}
.listLayoutMenu {
  flex-wrap: wrap;
  padding-top: 0.25em;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, 55px);
}
.itemMenuLayout {
  border-width: 1px;
  cursor: pointer;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  padding: 5px 10px;
  background: #f0f0f0;
  border-radius: 4px;
}
.itemMenuLayoutActive {
  background: #008df2 !important;
  color: #fff !important;
}
.listCoverSetting {
  flex-wrap: wrap;
  padding-top: 0.25em;
  display: grid;
  grid-gap: 0px;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, 74px);
}
.divHeaderTab {
  display: flex;
  justify-content: space-around;
}
.divHeaderTabItem {
  font-weight: 500;
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}
.divHeaderTabItemActive {
  border-bottom: 2px solid #008df2;
  color: #008df2;
}
.btnSettingCover {
  height: 28px !important;
  font-size: 11px !important;
  padding: 0 !important;
}
.collapsibleHeader {
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.listTagLeftmenu {
  height: 70vh;
  overflow: hidden;
  padding-right: 15px;
}
.listTagLeftmenu:hover {
  overflow-y: overlay;
}
.cellStyle {
  display: block;
}
.formLabel {
  width: 100px;
  font-weight: 700;
  font-size: 11px;
}
.formField {
  width: calc(100% - 110px);
}
.reactQuill {
  padding: 0 !important;
}

.notSetasDone,
.setDone,
.bgMore {
  height: var(--list-icon-size);
  width: var(--list-icon-size);
  min-height: var(--list-icon-size);
  min-width: var(--list-icon-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.popMenu {
  max-height: 170px;
  overflow: auto;
}
.columnLabel {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  font-size: 11px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.bgMore {
  background-color: #f3f4f4;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.notSetasDone {
  background-color: #f3f4f4;
  /* margin-right: 7px; */
  div {
    background: url('../../../public/Check.svg');
    height: 11px;
    background-size: 100% 100%;
    width: 11px;
    min-height: 11px;
    min-width: 11px;
  }
}

.setDone {
  background-color: #a9ce31;
  /* margin-right: 7px; */
  div {
    background: url('../../../public/CheckHistory.svg');
    height: 11px;
    background-size: 100% 100%;
    width: 11px;
    min-height: 11px;
    min-width: 11px;
  }
}
.messageError {
  color: '#ed684e' !important;
}
.required {
  color: '#ed684e' !important;
}
.fileItem {
  width: 100%;
  border: 1px solid #f0f0f0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  word-break: break-word !important;
}
.photoDrag {
  display: flex;
  position: relative;
  align-items: center;
  overflow-x: auto;
  height: 312px;
  justify-content: center;
  font-size: 20px;
  background-color: #fff;
}
.reactResizableHandle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('../../../public/Add.svg');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
.btnPagingPDF {
  padding: 4px !important;
}
.containerLogoResiable {
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  /* width: 100px;
  height: 100px; */
  resize: both;
  overflow: hidden;
  max-width: 100%;
}
.imgBlockCenter {
  display: block;
  margin: auto;
}
.imgBlockLeft {
  display: block;
  margin-left: 0;
  margin-right: auto;
}
.imgBlockRight {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.borderElementColumnBlock {
  border: 1px solid #f0f0f0;
}
.drawBranchLine {
  width: 20px;
  height: 50px;
  border: 3px solid #fff;
  position: absolute;
  bottom: 18px;
  left: 13px;
  border-style: none none solid solid;
}
